body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #ffffff;
  background-color: #849d8f;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-menu {
  margin-top: 10px;
}

.main-menu li {
  border-radius: 20px;
}

.sub-menu {
  display: none;
  opacity: 0;
  position: absolute;
  top: 38px;
  z-index: 9;
  width: 143px;
  padding: 0;
  margin: 0;
  background-color: #f8f7f3;
  color: #323232;
  border-radius: 5px;
  transition: all 0.8s;
}

.sub-menu li {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  color: #323232;
}

.sub-menu a {
  display: inline-block;
  font-size: 14px;
  color: #343434;
  font-weight: 400;
  line-height: 14px;
  text-decoration: none;
  border-radius: 0;
  width: 102px;
  padding: 10px 20px;
  padding-bottom: 14px;
  margin: 0;
  vertical-align: top;
}

.sub-menu a:hover {
  border-radius: 0;
  background-color: #fbded7;
}

.sub-menu a:active {
  border-radius: 0;
  background-color: #f6b5a5;
  box-shadow: none;
}

.sub-menu .sub-menu-last:hover,
.sub-menu .sub-menu-last:active {
  border-radius: 0 0 5px 5px;
}

.sub-menu .sub-menu-first:hover,
.sub-menu .sub-menu-first:active {
  border-radius: 5px 5px 0 0;
}

.main-menu .active {
  color: #ffffff;
  background-color: #d07058;
  text-decoration: none;
  padding-bottom: 6px;
}

.sub-menu .active {
  padding-bottom: 14px;
}

.main-menu .active:hover {
  color: #ffffff;
  background-color: #d07058;
  text-decoration: underline;
}

.main-menu a {
  display: block;
  padding: 5px 13px;
  margin-right: 1px;
  font-weight: 700;
  border-radius: 20px;
  color: #ffffff;
  list-style: none;
}

.main-menu a:hover {
  color: #000000;
  background-color:  #ffffff;
  text-decoration: none;
}

.main-menu a:active {
  box-shadow: inset 0 2px 3px #686868;
}

.user-navigation {
  min-width: 267px;
  margin-top: 10px;
  margin-left: auto;
}

.index-columns {
  display: none;
}

.features {
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 15px;
  margin-bottom: 40px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  background: url("../img/waffle-bg.jpg");
  border-radius: 15px;
  color: #323232;
  background-color: #e6d8b9;
}

.features h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.news {
  height: 220px;
  padding: 22px 20px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  color: #5a5a5a;
  background-image: url("../img/strawberry-bg.jpg");
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 16px;
}

.news h3 {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 500;
}

.news p {
  display: inline-block;
  width: 290px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  color: #353535;
}

.news a {
  text-decoration: underline;
  color: #323232; 
}

.news a:hover,
.news a:active {
  color: #e84d37;
}

.subscription {
  padding: 35px 25px;
  background-image: url("../img/email-bg.jpg");
}

.subscription p {
  margin: 0;
  margin-bottom: 35px;
}

.subscription-form {
  display: flex;
  align-items: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #5a5a5a;
}

.subscription-form input {
  background-color: #ffffff;
  border: 2px solid #d3d3d2;
  border-radius: 5px;
  width: 346px;
  padding: 12px 10px;
  margin-right: 13px;
  outline: none;
}

.subscription-form .button {
  width: 128px;
  border: none;
  padding: 10px 10px;
  font-size: 17px;
  outline: none;
}

.subscription-form input:hover {
  border: 2px solid #c7c6c5;
}

.subscription-form input:focus {
  border: 2px solid #8fbdec;
}

.to-contact-us h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 600;
  color: #323232;
}

.to-contact-us button {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 15px;
}

.container h1 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: regular;
  color: #ffffff;
  text-decoration: underline;
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
  font-weight: regular;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: #ffbc9e;
}

.catalog-item a {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
  text-decoration: underline;
}

.catalog-item p {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 210px;
  left: 5px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-item img {
  width: 270px;
  height: 270px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.catalog-list {
  list-style: none;
}

.catalog-item a:hover,
.catalog-item a:active {
  color: #ffbc9e;
}

.catalog-item h3 {
  text-align: center;
}

.main-footer {
  width: 1200px;
  color: #ffffff;

  background-color: #849d8f;
}

.main-footer-social ul {
  list-style: none;
}

.main-footer-social a {
  color: #ffffff;
}

.additional-information {
  text-align: center;
}

.additional-information ul {
  font-size: 13px;
  line-height: 18px;
  list-style-type: none;
}

.additional-information a {
  text-decoration: underline;
  color: #ffffff;
}

.additional-information a:hover,
.additional-information a:active {
  color: #ffbc9e;
}

.footer-copyright {
  text-align: right;
  color: #ffffff;
}

.footer-copyright a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 100;
  text-decoration: underline;
  color: #ffffff;
}

.footer-copyright a:hover,
.footer-copyright a:active {
  color: #ffbc9e;
}

.footer-copyright b {
  font-size: 12px;
  line-height: 18px;
  font-weight: 100;
}

/* ----- Сеточные стили ----- */

html,
body {
  min-width: 1146px;
}

.main-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.main-header-logo {
  position: relative;
  top: 9px;
  left: -6px;
  flex-basis: 154px;
  margin-right: 10px;
}

.main-menu {
  margin-top: 10px;
  flex-basis: 675px;
}

.main-menu > ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-menu li:nth-child(1) {
  position: relative;
  z-index: 8;
}

.main-menu > ul > li:hover .sub-menu {
  display: block;
  opacity: 1;
}

.main-menu a {
  display: block;
  padding: 5px 13px;
  margin-right: 1px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 20px;
  text-decoration: underline;
}

.sub-menu .sub-menu-first {
  position: relative;
  padding-bottom: 16px;
  padding-top: 15px;
  font-weight: 700;
}

.sub-menu .sub-menu-last {
  padding-bottom: 19px;
}

.sub-menu .sub-menu-first::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 7px;
  display: inline-block;
  margin: 0;
  width: 128px;
  border-bottom: 1px solid #d1d0ce;
}

.user-navigation {
  margin-top: 10px;
  min-width: 262px;
  margin-left: auto;  
}

.user-navigation ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.user-navigation li {
  position: relative;
  margin-right: 10px;
}

.user-navigation li:last-of-type {
  margin-right: 0;
}

.user-navigation a {
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  background-color: #a1b5aa;
  padding: 5px 16px;
  border-radius: 20px;
  transition: all 0.5s;
}

.user-navigation .button-search {
  padding: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 0;
  background: #a1b5aa url("../img/css-sprites.png") no-repeat -3px -73px;
}

.user-navigation .button-login {
  padding-left: 44px;
}

.button-user-navigation::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 20px;
  top: 6px;
  left: 16px;
  background: url("../img/css-sprites.png") no-repeat;
}

.user-navigation .button-login::before {
  background-position: -10px -117px;
}

.search,
.login {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 0px;
  padding: 15px;
  background-color: #f8f7f4;
  z-index: 5;
  border-radius: 5px;
  opacity: 0.2;
}

.search-form input {
  min-width: 340px;
  padding: 5px 10px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  background-color: #ffffff;
  border: 2px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
}

.login {
  padding: 15px;
  padding-top: 20px;
}

.login-form input {
  min-width: 240px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  padding: 8px 15px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border: 2px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
}

.login .button {
  padding: 8px 25px;
  font-size: 15px;
  line-height: 24px;
  border: none;
}

.login a {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  background-color: transparent;
  text-decoration: underline;
}

.login a:hover {
  color: #ec593c;
}

.login a:active {
  color: #ec593c;
}

.search:hover,
.button-search:hover + .search,
.login:hover,
.button-login:hover + .login {
  visibility: visible;
  opacity: 1;
}

.search input:hover,
.login input:hover {
  border: 2px solid #c7c6c5;
}

.search-form input:focus,
.login-form input:focus {
  border: 2px solid #8fbdec;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.catalog-item {
  position: relative;
  flex-basis: 270px;
  padding: 5px;
  margin-bottom: 40px;
  text-align: center;
  border-radius: 5px;
}

.catalog-item:nth-child(4n) {
  margin-right: 27px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features h3 {
  flex-basis: 1005px;
}

.features p {
  position: relative;
  flex-basis: 483px;
  padding-top: 15px;
  padding-left: 57px;
  margin: 0;
  margin-bottom: 10px;
}

.features p::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  background: url("../img/css-sprites.png") no-repeat;
}

.features .features-item-1::before {
  background-position: -10px -730px;
}

.features .features-item-2::before {
  background-position: -10px -661px;
}

.features .features-item-3::before {
  background-position: -10px -592px;
}

.features .features-item-4::before {
  background-position: -10px -523px;
}

.index-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.news {
  flex-basis: 560px;
  height: 220px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  color: #5a5a5a;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 16px;
}


.subscription {
  flex-basis: 560px;
  height: 220px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  color: #5a5a5a;
  background-color: #ffffff;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 35px 25px;
  background: url("../img/email-bg.jpg") no-repeat;
}

.subscription p {
  padding-right: 25px;
  font: inherit;
  color: #7a7979;

}

.subscription-form {
  display: flex;
  align-items: center;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #5a5a5a;
}

.subscription-form input {
  width: 346px;
  padding: 12px 10px;
  margin-right: 13px;
  background-color: #ffffff;
  border: 2px solid #d3d3d2;
  border-radius: 5px;
  outline: none;
}

.subscription-form .button {
  width: 128px;
  border: none;
  padding: 10px 10px;
  font-size: 17px;
  outline: none;
}

.subscription-form input:hover {
  border: 2px solid #c7c6c5;
}

.subscription-form input:focus {
  border: 2px solid #8fbdec;
}


.main-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 102px;
}

.main-footer-social {
  margin-right: 220px;
}

.main-footer-social ul {
  display: flex;
  align-items: center;
  width: 1200px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-button {
  display: block;
  position: relative;
  font-size: 0;
  width: 30px;
  height: 30px;
  border: 4px solid #c2cec7;
  border-radius: 20px;
  margin-right: 13px;
  background: url("../img/css-sprites.png") no-repeat;
}

.button-twitter {
  background-position: -10px -418px;
}

.button-instagram {
  background-position: -9px -366px;
}

.button-facebook {
  background-position: -9px -314px;
}

.button-vk {
  background-position: -9px -470px;
}

.social-button:hover {
  background-color: #c2cec7;
}

.social-button:active {
  box-shadow: inset 0px 2px 2px rgba(152, 152, 152, 0.8);
}

.additional-information ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 44px;
}

.additional-information li {
  margin-right: 24px;
}

.additional-information a {
  position: relative;
  padding: 0;
  margin: 0;
  margin-right: auto;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
  text-align: left;
}

.footer-menu .heart::before {
  content: "";
  position: absolute;
  top: 0;
  left: -24px;
  width: 15px;
  height: 13px;
  background: url("../img/heart.svg") no-repeat -20px -20px;
}

.footer-copyright {
  width: 267px;

}

/* ----- Слайдер ----- */

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;

  clip: rect(0, 0, 0, 0);
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
  background-repeat: no-repeat;
  background-position: top center;
  
  transition: background-image 0.5s ease, background-color 0.5s ease;
  
  /* Для демонстрации */
  min-height: 100vh;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-item3.png");
}

.container {
  width: 1146px;
  margin: 0 27px;
  padding: 0 20px;
}

.slider {
  position: relative;
  
  margin-bottom: 40px;
  padding-top: 321px;
  
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 800;
  font-size: 60px;
  line-height: 60px;
}

.button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-item1.png");
}

#product-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-item2.png");
}

#product-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-item3.png");
}

#product-1:checked ~ .site-wrapper #slide1,
#product-2:checked ~ .site-wrapper #slide2,
#product-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#product-1:checked ~ .site-wrapper label[for="product-1"],
#product-2:checked ~ .site-wrapper label[for="product-2"],
#product-3:checked ~ .site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}
